{% assign collection = include.collection %}
{% assign title = include.title | default: "Recently Updated" %}
{% assign limit = include.limit | default: 5 %}

{% if collection and collection.size > 0 %}

<section>
  <h2 class="panel-heading">{{ title }}</h2>

  <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
    {% assign sorted = collection | sort: "date" | reverse %}

    {% for item in sorted limit: limit %}
      <li class="text-truncate lh-lg">
        <a href="{{ item.url | relative_url }}">
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

{% endif %}