<!-- The Top Bar -->

<header id="topbar-wrapper" class="flex-shrink-0" aria-label="Top Bar">
  <div
    id="topbar"
    class="d-flex align-items-center justify-content-between px-lg-3 h-100"
  >
    <nav id="breadcrumb" aria-label="Breadcrumb">
      {% assign paths = page.url | split: '/' %}

      {% if paths.size == 0 or page.layout == 'home' %}
        <!-- index page -->
        <span>{{ site.data.locales[include.lang].tabs.home | capitalize }}</span>

      {% else %}
        {% for item in paths %}
          {% if forloop.first %}
            <span>
              <a href="{{ '/' | relative_url }}">
                {{- site.data.locales[include.lang].tabs.home | capitalize -}}
              </a>
            </span>

          {% elsif forloop.last %}
            {% if page.collection == 'tabs' %}
              <span>{{ site.data.locales[include.lang].tabs[item] | default: page.title }}</span>
            {% else %}
              <span>{{ page.title }}</span>
            {% endif %}

          {% elsif page.layout == 'category' or page.layout == 'tag' %}
            <span>
              <a href="{{ item | append: '/' | relative_url }}">
                {{- site.data.locales[include.lang].tabs[item] | default: page.title -}}
              </a>
            </span>
          {% endif %}
        {% endfor %}
      {% endif %}
    </nav>
    <!-- endof #breadcrumb -->

    <button type="button" id="sidebar-trigger" class="btn btn-link" aria-label="Sidebar">
      <i class="fas fa-bars fa-fw"></i>
    </button>

    <div id="topbar-title">
      {% if page.layout == 'home_custom' %}
        <i class="fas fa-home me-1"></i>
        {{- site.data.locales[include.lang].title | default: page.title -}}
      {% elsif page.collection == 'tabs' or page.collection == 'pages' %}
        {%- capture tab_key -%}{{ page.url | split: '/' }}{%- endcapture -%}
        {% case page.layout %}
          {% when 'about_custom' %}
            <i class="fas fa-user me-1"></i>
            {{ site.data.locales[include.lang].layout[page.layout] | default: "About" }}
          {% when 'projects_custom' %}
            <i class="fas fa-microchip me-1"></i>
            {{ site.data.locales[include.lang].layout[page.layout] | default: "Projects" }}
          {% when 'articles_custom' %}
            <i class="fas fa-book me-1"></i>
            {{ site.data.locales[include.lang].layout[page.layout] | default: "Articles" }}
          {% when 'libraries_custom' %}
            <i class="fas fa-code me-1"></i>
            {{ site.data.locales[include.lang].layout[page.layout] | default: "Libraries" }}
          {% when 'datasets_custom' %}
            <i class="fas fa-database me-1"></i>
            {{ site.data.locales[include.lang].layout[page.layout] | default: "Datasets" }}
          {% when 'posts_custom' %}
            <i class="fas fa-newspaper me-1"></i>
            {{ site.data.locales[include.lang].layout[page.layout] | default: "Posts" }}
          {% when 'archives_custom' %}
            <i class="fas fa-archive me-1"></i>
            {{ site.data.locales[include.lang].layout[page.layout] | default: page.title }}
          {% when 'categories_custom' %}
            <a href="{{ '/categories/'}}">
              <i class="fas fa-stream me-1"></i>
              {{ site.data.locales[include.lang].layout[page.layout] | default: "Categories" }}
            </a>
          {% when 'tags_custom' %}
            <a href="{{ '/tags/'}}">
              <i class="fas fa-tags me-1"></i>
              {{ site.data.locales[include.lang].layout[page.layout] | default: "Tags" }}
            </a>
          {% when 'contact_custom' %}
            <a href="{{ '/contact'}}">
              <i class="fas fa-envelope me-1"></i>
              {{ site.data.locales[include.lang].layout[page.layout] | default: "Contact" }}
            </a>
        {% endcase %}
      {% else %}
        {% case page.layout %}
          {% when 'project_custom' %}
            <a href="{{ '/projects'}}">
              <i class="fas fa-microchip me-1"></i>
              {{ site.data.locales[include.lang].layout[page.layout] | default: "Project" }}
            </a>
          {% when 'article_custom' %}
            <a href="{{ '/articles'}}">
              <i class="fas fa-book me-1"></i>
              {{ site.data.locales[include.lang].layout[page.layout] | default: "Article" }}
            </a>
          {% when 'library_custom' %}
            <a href="{{ '/libraries'}}">
              <i class="fas fa-code me-1"></i>
              {{ site.data.locales[include.lang].layout[page.layout] | default: "Library" }}
            </a>
          {% when 'dataset_custom' %}
            <a href="{{ '/datasets'}}">
              <i class="fas fa-database me-1"></i>
              {{ site.data.locales[include.lang].layout[page.layout] | default: "Dataset" }}
            </a>
          {% when 'post_custom' %}
            <a href="{{ '/posts'}}">
              <i class="fas fa-newspaper me-1"></i>
              {{ site.data.locales[include.lang].layout[page.layout] | default: "Post" }}
            </a>
        {% endcase %}
      {% endif %}
    </div>

    <button type="button" id="search-trigger" class="btn btn-link" aria-label="Search">
      <i class="fas fa-search fa-fw"></i>
    </button>

    <search id="search" class="align-items-center ms-3 ms-lg-0">
      <i class="fas fa-search fa-fw"></i>
      <input
        class="form-control"
        id="search-input"
        type="search"
        aria-label="search"
        autocomplete="off"
        placeholder="{{ site.data.locales[include.lang].search.hint | capitalize }}..."
      >
    </search>
    <button type="button" class="btn btn-link text-decoration-none" id="search-cancel">
      {{- site.data.locales[include.lang].search.cancel -}}
    </button>
  </div>
</header>
